/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

header {
  padding: 5%;
}

.mainContainer{
  display: flex;
  margin: 25px 35px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.left-h2 {
  margin: 0 50px 0 0;
}

.scorelist {
  border-style: solid;
  margin-top: 20px;
}

.scorelist li {
  padding: 2px 0;
  margin: 2px 0;
}

.scorelist :nth-child(even) {
  background-color: rgb(181, 185, 189);
}
.container-1 {
  width: 35%;
  margin-left: 50px;
}

.container-2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 8rem;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input, button {
  height: 25px;
  margin: 4px;
  font-size: 15px;
}

.submitBtn {
  margin-left: 200px;
  padding: 10px 0;
}

/* .add-score {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
} */

/* h1 {
  padding: 20px;
  margin: 15px;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 16px;
  margin-left: 5rem;
} */
/* .scoreboard {
  display: flex;
  padding: 19px;
}

.left-h2 {
  margin-right: 10px;
}

.refreshBtn {
  padding: 6px;
  border-radius: 12px;
}

.submitBtn {
  padding: 6px;
  border-radius: 12px; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
} */